<h4><%= @part.name %></h4>

<ul>
    <li>Price: <%= @part.price %></li>
    <li>Date Ordered: <%= @part.ordered %></li>
</ul>

<button>
    <a class="button" href="/part/<%= @part.id %>/edit">Edit Part</a>
</button>