<form method="POST" action="/register">
  <p>
    <h4>Register</h4>
  </p>
  
  <p>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
  </p>

  <p>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
  </p>

  <p>
    <input type="submit" value="Register">
  </p>
</form>