<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TeddyBearRepair</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <nav>
      <% if logged_in? %>
        <a href="/user/dashboard">Dashboard</a>
        <a href="/user/dashboard/edit">Edit User</a>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
    </nav>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>TeddyBearRepair</strong></small>
      </footer>
    </div>
  </body>
</html>
