<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TeddyBearRepair</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="icon" type="image/png" href="/images/favicon.ico">
  </head>
  <body>
    <nav>
      <ul>
        <% if logged_in? %>
          <li><a href="/user/dashboard">Dashboard</a></li>
          <li><a href="/user/dashboard/edit">Edit User</a></li>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/login">Login</a></li>
        <% end %>
      </ul>
    </nav>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>Teddy Bear Repair</strong></small>
      </footer>
    </div>
  </body>
</html>
